@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  height: inherit;
  width: inherit;
  position: fixed;
  background-image: url('/bg.jpeg');
}

.MartianMono{
  font-family: 'Martian Mono', monospace;
}
